@charset "ISO-8859-1";

*
{
	font-family: sans-serif;
}

#logo
{
	margin-bottom: 3px!important;
    width: 180px!important;
	cursor:pointer;
}

.successLabel
{
	text-align: center;
    color: #8BC34A;
}
.errorLabel
{
	text-align:center;
	margin-bottom: 0px!important;
}
.input100-reg
{
   background: #c3c3c3!important;
}
.container
{
	/* Per centrare al centro della pagina */
	width: 50%;
    height: auto;
    margin: 10px auto;
    text-align:center;
    padding-top: 10px;
        border: 3px solid black;
    
}

.topTitle
{
	font-size:24px;
	font-weight: bold;
}

.data
{
	background: #f1f1f1;
	padding:10px;	
	text-align: left;
	    margin-bottom: 10px;
	
}

.titleTopData
{
	font-size:20px;
	text-align:center;
}

.button
{
	background: buttonface!important;
    border-width: 2px!important;
    border-style: outset!important;
    border-color: buttonface!important;
    border-image: initial!important;
    font-size:16px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.fixButton
{
	text-align:center;
}

.wrap-input100-reg {
    margin-bottom: 10px!important;
}